-- 修復資料庫結構升級錯誤
-- 問題：外鍵約束類型不匹配 (UUID vs INTEGER)
-- 解決：將所有 UUID 改為 INTEGER 以匹配 stores 表的 id 欄位類型

-- ===== 1. 創建審核狀態枚舉 =====
DO $$ BEGIN
  CREATE TYPE approval_status AS ENUM ('approved', 'pending', 'suspended', 'archived');
EXCEPTION WHEN duplicate_object THEN NULL; END $$;

-- ===== 2. 升級 stores 表結構 =====
ALTER TABLE stores
  ADD COLUMN IF NOT EXISTS approval approval_status NOT NULL DEFAULT 'approved',
  ADD COLUMN IF NOT EXISTS sponsorship_tier smallint NOT NULL DEFAULT 0,  -- 0:一般, 1:特約, 2:主推/贊助
  ADD COLUMN IF NOT EXISTS store_code text UNIQUE, -- 例如 'kentucky'
  ADD COLUMN IF NOT EXISTS evidence_level text DEFAULT 'verified', -- verified, unverified, pending_verification
  ADD COLUMN IF NOT EXISTS eligibility_rules jsonb DEFAULT '{}', -- 資格規則配置
  ADD COLUMN IF NOT EXISTS audit_notes text, -- 審核備註
  ADD COLUMN IF NOT EXISTS approved_at timestamp with time zone,
  ADD COLUMN IF NOT EXISTS approved_by text, -- 審核人員
  ADD COLUMN IF NOT EXISTS rating decimal(3,2) DEFAULT 0.0; -- 評分欄位

-- ===== 3. 創建索引優化查詢 =====
CREATE INDEX IF NOT EXISTS idx_stores_approval ON stores (approval);
CREATE INDEX IF NOT EXISTS idx_stores_tier ON stores (sponsorship_tier DESC);
CREATE INDEX IF NOT EXISTS idx_stores_approval_tier ON stores (approval, sponsorship_tier DESC);
CREATE INDEX IF NOT EXISTS idx_stores_store_code ON stores (store_code);
CREATE INDEX IF NOT EXISTS idx_stores_evidence_level ON stores (evidence_level);
CREATE INDEX IF NOT EXISTS idx_stores_rating ON stores (rating DESC NULLS LAST);

-- ===== 4. 創建審核歷史表（修復：使用 INTEGER） =====
CREATE TABLE IF NOT EXISTS store_approval_history (
  id SERIAL PRIMARY KEY,
  store_id INTEGER REFERENCES stores(id) ON DELETE CASCADE,
  previous_status approval_status,
  new_status approval_status,
  previous_tier smallint,
  new_tier smallint,
  reason text,
  notes text,
  changed_by text NOT NULL,
  changed_at timestamp with time zone DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_approval_history_store_id ON store_approval_history(store_id);
CREATE INDEX IF NOT EXISTS idx_approval_history_changed_at ON store_approval_history(changed_at);

-- ===== 5. 創建證據驗證表（修復：使用 INTEGER） =====
CREATE TABLE IF NOT EXISTS evidence_verification (
  id SERIAL PRIMARY KEY,
  store_id INTEGER REFERENCES stores(id) ON DELETE CASCADE,
  evidence_type text NOT NULL, -- 'address', 'phone', 'business_hours', 'license'
  evidence_value text NOT NULL,
  verification_status text DEFAULT 'pending', -- 'verified', 'pending', 'failed'
  verification_method text, -- 'manual', 'api', 'document'
  verified_by text,
  verified_at timestamp with time zone,
  notes text,
  created_at timestamp with time zone DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_evidence_verification_store_id ON evidence_verification(store_id);
CREATE INDEX IF NOT EXISTS idx_evidence_verification_status ON evidence_verification(verification_status);

-- ===== 6. 更新現有資料 =====
-- 確保所有現有商家都有審核狀態
UPDATE stores SET approval = 'approved' WHERE approval IS NULL;

-- 為肯塔基美語設置特殊配置
UPDATE stores SET 
  store_code = 'kentucky',
  sponsorship_tier = 2,
  evidence_level = 'verified'
WHERE store_name LIKE '%肯塔基美語%';

-- 為特約商家設置贊助等級
UPDATE stores SET sponsorship_tier = 1 WHERE is_partner_store = true;

-- ===== 7. 創建視圖：合格商家查詢 =====
CREATE OR REPLACE VIEW eligible_stores AS
SELECT 
  s.*,
  CASE 
    WHEN s.sponsorship_tier = 2 THEN 3
    WHEN s.sponsorship_tier = 1 THEN 2
    ELSE 1
  END as priority_score,
  CASE 
    WHEN s.store_code = 'kentucky' THEN 1
    ELSE 0
  END as is_kentucky
FROM stores s
WHERE s.approval = 'approved'
  AND s.evidence_level IN ('verified', 'pending_verification');

-- ===== 8. 創建管理後台查詢視圖 =====
CREATE OR REPLACE VIEW store_management_view AS
SELECT 
  s.id,
  s.store_name,
  s.category,
  s.approval,
  s.sponsorship_tier,
  s.store_code,
  s.evidence_level,
  s.is_partner_store,
  s.rating,
  s.approved_at,
  s.approved_by,
  s.audit_notes,
  COUNT(ev.id) as evidence_count,
  COUNT(ev.id) FILTER (WHERE ev.verification_status = 'verified') as verified_evidence_count
FROM stores s
LEFT JOIN evidence_verification ev ON s.id = ev.store_id
GROUP BY s.id, s.store_name, s.category, s.approval, s.sponsorship_tier, 
         s.store_code, s.evidence_level, s.is_partner_store, s.rating,
         s.approved_at, s.approved_by, s.audit_notes;

-- ===== 完成 =====
-- 資料庫結構升級完成
-- 現在可以使用允許清單架構進行推薦和審核管理